@CHARSET "UTF-8";

body {
background-image: url("http://p1.pichost.me/i/15/1382144.jpg");
background-size: cover;
background-attachment: fixed;
}

.hidden{
	display: none;	
}

.tab{
	display: inline; 
	color: white; 
	background: black; 
}

p.tabheader{
	display: inline; 	
}

#wrapper{
	width: 900px;
	margin: auto;
	background-color:#E0B0FF;
	
}

#userbox{
	
}
