@CHARSET "UTF-8";

body {
background-color:#d99dff;
}

.hidden{
	display: none;	
}

.tab{
	display: inline; 
	color: white; 
	background: black; 
}

p.tabheader{
	display: inline; 	
}

#wrapper{
	width: 900px;
	margin: auto;
	background-color:#E0B0FF;
	
}

.forumThread{
	height: 100px;
	width: 800px;
	
}

.threadContent{
	width: 100px;
	float: left;
}

