@CHARSET "UTF-8";

body {
background-image: "images/background.jpg";
background-size: cover;
background-attachment: fixed;
}

.hidden{
	display: none;	
}

p{
	margin-bottom: 0px;
}

.tab{
	display: inline; 
	color: white; 
	background: black; 
}

.unseen{
	font-weight:bold;	
}

.buttonform{
	display: inline;
}

p.tabheader{
	display: inline;
	margin: 5%;
}

#wrapper{
	width: 1000px;
	margin: auto;
	background-color:rgba(232, 190, 255, 0.85);
	
}

#userbox{
	text-align: right;
}

#header {
	text-align: center;
}

#center{
	text-align: center;
}

#login_form{
	background-color: rgba(232, 190, 255, 0.7);
	text-align: center;
	width: 500px;
	margin: auto;
}

#register_form{
	background-color: rgba(232, 190, 255, 0.7);
	width: 450px;
	margin: auto;
	text-align: center;
}
